/* Make featured image on talk pages 800px wide */
.talk .featured-image img {
  width: 800px !important;
  max-width: 100%;
  height: auto !important;
}

.media.stream-item img.talk-thumb {
  width: 320px;
  max-width: 320px;
  height: auto;
}

/* Enlarge thumbnails for all talk listings (Event cards/lists) */
.media.stream-item[itemtype="http://schema.org/Event"] img {
  width: 360px;
  max-width: 360px;
  height: auto;
}

.card-simple[itemtype="http://schema.org/Event"] .article-banner {
  min-height: 260px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .media.stream-item img.talk-thumb {
    width: 160px;
    max-width: 160px;
  }

  .media.stream-item[itemtype="http://schema.org/Event"] img {
    width: 180px;
    max-width: 180px;
  }

  .card-simple[itemtype="http://schema.org/Event"] .article-banner {
    min-height: 180px;
  }
}
