{{ $author_urlized := .Get 0 }}
{{ $profile_page := site.GetPage (printf "/authors/%s" $author_urlized) }}
{{ with $profile_page }}
  {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
  <div class="media author-card mb-4" itemscope itemtype="http://schema.org/Person">
    {{ if and site.Params.gravatar .Params.email }}
      <img class="portrait mr-3" src="https://s.gravatar.com/avatar/{{ md5 .Params.email }}?s=200')" itemprop="image" alt="Avatar">
    {{ else if $avatar }}
      <img class="portrait mr-3" src="{{ $avatar.RelPermalink }}" itemprop="image" alt="Avatar" style="max-width: 150px; object-fit: contain;">
    {{ end }}

    <div class="media-body">
      <h5 class="card-title" itemprop="name"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h5>
      {{ with .Params.role }}<h6 class="card-subtitle">{{ . | markdownify | emojify }}</h6>{{ end }}
      {{ with .Params.bio }}<p class="card-text" itemprop="description">{{ . | markdownify | emojify }}</p>{{ end }}
      {{ with .Params.interests }}
      <p class="card-text">
        <strong>Interests:</strong> 
        {{ range $index, $interest := . }}
          {{- if $index }}, {{ end }}{{ $interest -}}
        {{ end }}
      </p>
      {{ end }}
      <ul class="network-icon" aria-hidden="true">
        {{ range .Params.social }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
            {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
            {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <li>
            <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
              <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}